In [9]:
import pandas as pd

# Load the dataset from the provided file path
file_path = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\sanitized_property_listings_Kelli.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head(10)

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good

In [10]:
# Step 1: Check for duplicates in the dataset
duplicates = data.duplicated()
num_duplicates = duplicates.sum()

# Step 2: Check for missing values in each column
missing_values = data.isnull().sum()

# Display the results
num_duplicates, missing_values

(np.int64(0),
 Unnamed: 0               0
 Property ID              0
 Locality data            0
 Price                    0
 Property type            0
 Number of bedrooms       0
 Living area m²         133
 Equipped kitchen         0
 Furnished                0
 Open fire                0
 Terrace surface m²    5239
 Garden area m²        7342
 Number of facades     3084
 Swimming pool            0
 Building condition     957
 dtype: int64)

In [36]:

import pandas as pd


# We load the table
file_path = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\sanitized_property_listings_Kelli.csv'
df = pd.read_csv(file_path)

# Delete the columns 'Terrace surface m²' and 'Garden area m²'
df.drop(columns=['Terrace surface m²', 'Garden area m²'], inplace=True)

# Fill in the blanks in other columns
df['Living area m²'] = df['Living area m²'].fillna(df['Living area m²'].mean())
df['Number of facades'] = df['Number of facades'].fillna(df['Number of facades'].mode()[0])
df['Building condition'] = df['Building condition'].fillna('Not specified')

# Check for duplicates and remove them
df_cleaned = df.drop_duplicates()

# Save the cleaned table in a new CSV file in an accessible directory
output_file = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\sanitized_property_listings_ANASTASIIA.csv'
df_cleaned.to_csv(output_file, index=False)

print(f"Cleared table saved to file: {output_file}")

Cleared table saved to file: C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\sanitized_property_listings_ANASTASIIA.csv

In [37]:
# Importing necessary libraries
import pandas as pd

# Path to the newly uploaded file
file_path =  r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\sanitized_property_listings_ANA.csv'

# Loading the dataset
df_cleaned = pd.read_csv(file_path)

#  Check for duplicates in the dataset
duplicates = df_cleaned.duplicated()
num_duplicates = duplicates.sum()
print(f'Number of duplicates: {duplicates.sum()}')

# Check for missing values in each column
missing_values = df_cleaned.isnull().sum()

# Display the results
num_duplicates, missing_values
print('The number of missing values ​​in each column:')
print(missing_values)

Number of duplicates: 0
The number of missing values ​​in each column:
Unnamed: 0            0
Property ID           0
Locality data         0
Price                 0
Property type         0
Number of bedrooms    0
Living area m²        0
Equipped kitchen      0
Furnished             0
Open fire             0
Number of facades     0
Swimming pool         0
Building condition    0
dtype: int64