In [2]:
import pandas as pd

# Load the dataset from the provided file path
file_path = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\sanitized_property_listings_Kelli_final.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head(10)

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Swimming pool,Building condition
0,0,20245694,9550,198800,house,3.0,125.0,0,0,1,45.0,106.0,0,To renovate
1,1,20246399,2170,349000,house,3.0,193.0,1,0,1,NaN,53.0,0,To be done up
2,2,20245215,4102,199900,house,3.0,131.0,1,0,1,40.0,30.0,0,As new
3,3,20245396,9620,349000,house,4.0,237.0,0,0,1,16.0,390.0,0,To renovate
4,4,20245133,1200,795000,house,5.0,225.0,1,0,1,15.0,120.0,0,To renovate
5,5,20244275,8500,455000,house,4.0,187.0,1,0,1,NaN,100.0,0,Good
6,6,20244687,9860,455000,house,3.0,147.0,0,0,1,16.0,77.0,0,Just renovated
7,7,20241273,6220,315000,house,2.0,100.0,0,0,1,14.0,1030.0,0,To be done up
8,8,20242318,1120,477000,house,5.0,186.0,0,0,1,30.0,120.0,0,As new
9,9,20244297,4140,298000,house,4.0,242.0,1,0,1,80.0,147.0,0,Good

In [4]:
# Check for duplicates in the dataset
duplicates = data.duplicated()
num_duplicates = duplicates.sum()

# Check for missing values in each column
missing_values = data.isnull().sum()

# Display the results
num_duplicates, missing_values

(np.int64(0),
 Unnamed: 0               0
 Property ID              0
 Locality data            0
 Price                    0
 Property type            0
 Number of bedrooms       0
 Living area m²           0
 Equipped kitchen         0
 Furnished                0
 Open fire                0
 Terrace surface m²    4689
 Garden area m²        6453
 Swimming pool            0
 Building condition       0
 dtype: int64)

In [6]:
# Importing necessary libraries
import pandas as pd

# Path to the newly uploaded file
file_path =  r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\sanitized_property_listings_Kelli_final.csv'

# Loading the dataset
df_cleaned = pd.read_csv(file_path)

#  Check for duplicates in the dataset
duplicates = df_cleaned.duplicated()
num_duplicates = duplicates.sum()
print(f'Number of duplicates: {duplicates.sum()}')

# Check for missing values in each column
missing_values = df_cleaned.isnull().sum()

# Display the results
num_duplicates, missing_values
print('The number of missing values ​​in each column:')
print(missing_values)

Number of duplicates: 0
The number of missing values ​​in each column:
Unnamed: 0               0
Property ID              0
Locality data            0
Price                    0
Property type            0
Number of bedrooms       0
Living area m²           0
Equipped kitchen         0
Furnished                0
Open fire                0
Terrace surface m²    4689
Garden area m²        6453
Swimming pool            0
Building condition       0
dtype: int64

MY QUESTION
What are the least/most expensive municipalities in Belgium/Wallonia/Flanders? (in terms of price per m², average price, and median price)

In [7]:
import pandas as pd

# Download the cleaned data
file_path = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\sanitized_property_listings_Kelli_final.csv'
df_cleaned = pd.read_csv(file_path)

# Let's review the first lines to understand the data structure
print(df_cleaned.head())

# Check whether there is a column with municipalities or cities
print(df_cleaned.columns)

   Unnamed: 0  Property ID  Locality data   Price Property type  \
0           0     20245694           9550  198800         house
1           1     20246399           2170  349000         house
2           2     20245215           4102  199900         house
3           3     20245396           9620  349000         house
4           4     20245133           1200  795000         house

   Number of bedrooms  Living area m²  Equipped kitchen  Furnished  Open fire  \
0                 3.0           125.0                 0          0          1
1                 3.0           193.0                 1          0          1
2                 3.0           131.0                 1          0          1
3                 4.0           237.0                 0          0          1
4                 5.0           225.0                 1          0          1

   Terrace surface m²  Garden area m²  Swimming pool Building condition
0                45.0           106.0              0        To renovate
1                 NaN            53.0              0      To be done up
2                40.0            30.0              0             As new
3                16.0           390.0              0        To renovate
4                15.0           120.0              0        To renovate
Index(['Unnamed: 0', 'Property ID', 'Locality data', 'Price', 'Property type',
       'Number of bedrooms', 'Living area m²', 'Equipped kitchen', 'Furnished',
       'Open fire', 'Terrace surface m²', 'Garden area m²', 'Swimming pool',
       'Building condition'],
      dtype='object')

We have to made column with the price per m²,.

In [9]:
# Check whether there is a living area and a price
print(df_cleaned[['Price', 'Living area m²']].isnull().sum())

# Add a column with the price per m²
df_cleaned['Price per m²'] = df_cleaned['Price'] / df_cleaned['Living area m²']

# Check whether a new column has been added
print(df_cleaned[['Price', 'Living area m²', 'Price per m²']].head())

Price             0
Living area m²    0
dtype: int64
    Price  Living area m²  Price per m²
0  198800           125.0   1590.400000
1  349000           193.0   1808.290155
2  199900           131.0   1525.954198
3  349000           237.0   1472.573840
4  795000           225.0   3533.333333

Need to group data by municipalities
Now that we have a column with the price per m², I can move on to grouping the data by municipality. This will allow me  to analyze the average, median and price per m² for each municipality.

In [10]:
# Group data by locality data and calculate the average and median price
municipality_stats = df_cleaned.groupby('Locality data').agg(
 avg_price=('Price', 'mean'),
 median_price=('Price', 'median'),
 avg_price_per_m2=('Price per m²', 'mean')
).reset_index()

# Check the result
print(municipality_stats.head())

   Locality data      avg_price  median_price  avg_price_per_m2
0           1000  468820.564516      410000.0       4059.173546
1           1020  390127.450980      325000.0       2896.947287
2           1030  368454.954955      322000.0       3194.942440
3           1040  551696.969697      442000.0       4085.085781
4           1050  668879.591837      512500.0       4706.335784

Now rank municipalities by average or median price, or by price per square meter.

In [25]:
# The most expensive municipalities by average price
most_expensive_avg = municipality_stats.sort_values(by='avg_price', ascending=False).head(10)

# The cheapest municipalities at an average price
cheapest_avg = municipality_stats.sort_values(by='avg_price').head(10)

print("Most expensive municipalities by average price:")
print(most_expensive_avg)

print("Cheapest municipalities by average price:")
print(cheapest_avg)

Most expensive municipalities by average price:
     Locality data     avg_price  median_price  avg_price_per_m2
352           4684  4.751500e+08   475150050.0      3.655150e+06
124           2200  1.253611e+08      475000.0      1.043402e+06
737           9860  7.453415e+07      449000.0      6.195664e+05
374           5000  7.173121e+07      305000.0      8.956663e+05
38            1380  3.557788e+07     1067500.0      2.680825e+05
276           4041  3.523211e+07      257000.0      1.994361e+05
585           8400  1.414257e+07      302000.0      1.777269e+05
48            1450  1.330816e+07      395000.0      1.209855e+05
294           4171  1.012863e+07      235000.0      9.556222e+04
301           4219  8.575243e+06      370000.0      7.461197e+04
Cheapest municipalities by average price:
     Locality data  avg_price  median_price  avg_price_per_m2
423           6030    75000.0       75000.0        590.551181
430           6044    82000.0       82000.0        878.792634
532           7331    87000.0       87000.0       1053.976436
422           6010    99000.0       99000.0       1125.000000
510           7033   100000.0      100000.0       1219.512195
451           6500   100000.0      100000.0        420.168067
536           7340   100000.0      100000.0        714.597902
420           6000   105600.0       99000.0       1161.637258
401           5542   107500.0      107500.0       1808.908046
396           5523   110000.0      110000.0       1466.666667

Our dataset only contains postcodes, but no explicit information about regions (Wallonia, Flanders, Brussels), using postcodes I can define regions. In Belgium, zip codes can be divided into regions, so I'am going to add a new "Region" column based on the zip code.

I have to create a dictionary that associates postal codes with regions. 
Postal codes in Belgium:

Brussels: 1000–1299

Flanders: 1500–1999 3000 – 3499 Flemish Brabant, 2000- 2999 Antwerp, 3500-3999 Limburg, 8000-8999 West Flanders , 9000-9999 East Flanders

Wallonia: 1300 -1499 Walloon Brabant, 7000-7999 Hainaut, 4000 -4999 Liège, 6600-6999 Luxembourg, 5000-5999 Namur

get_region: The function gets the zip code and returns the region name based on the conditions.
df_cleaned['Region']: A new column "Region" is added to the DataFrame based on the zip code.
apply(): This function applies get_region to each value in the 'Postal code' column.

In [12]:
import pandas as pd

# Function to determine the region by zip code
def get_region(postal_code):
    if 1000 <= postal_code <= 1299:
        return 'Brussels'
    elif 1300 <= postal_code <= 1499 or 4000 <= postal_code <= 7999:
        return 'Wallonia'
    elif 1500 <= postal_code <= 3999 or 8000 <= postal_code <= 9999 :
        return 'Flanders'
    else:
        return 'Unknown'

# Add a new 'Region' column based on zip code
df_cleaned['Region'] = df_cleaned['Locality data'].apply(get_region)

# We check the result
df_cleaned[['Locality data', 'Region']].head()

   Locality data    Region
0           9550  Flanders
1           2170  Flanders
2           4102  Wallonia
3           9620  Flanders
4           1200  Brussels

In [14]:
# Filter the rows where the 'Region' column has the value 'Unknown'
unknown_regions = df_cleaned[df_cleaned['Region'] == 'Unknown']

# We check the result
print(unknown_regions[['Locality data', 'Region']])
print(df_cleaned[['Locality data', 'Region']])

Empty DataFrame
Columns: [Locality data, Region]
Index: []
      Locality data    Region
0              9550  Flanders
1              2170  Flanders
2              4102  Wallonia
3              9620  Flanders
4              1200  Brussels
...             ...       ...
9028           4130  Wallonia
9029           2880  Flanders
9030           9800  Flanders
9031           8800  Flanders
9032           1180  Brussels

[9033 rows x 2 columns]

We need to save new colums to our data frame

df_cleaned['Price per m²'] — розраховуємо ціну за квадратний метр.
get_region(postal_code) — функція для визначення регіону на основі перших двох цифр поштового індексу.
df_cleaned['Region'] — додаємо колонку з регіоном.
to_csv() — зберігаємо новий файл із доданими колонками.

In [24]:
import pandas as pd

# Loading cleared data
df_cleaned = pd.read_csv(r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\sanitized_property_listings_Kelli_final.csv')

# Add the 'Price per m²' column
df_cleaned['Price per m²'] = df_cleaned['Price'] / df_cleaned['Living area m²']

# Updated function to determine region by zip code
def get_region(postal_code):
    postal_code = int(str(postal_code)[:4]) # We take the first 4 digits of the index
    if 1000 <= postal_code <= 1299:
        return 'Brussels'
    elif (1300 <= postal_code <= 1499) or (4000 <= postal_code <= 7999):
        return 'Wallonia'
    elif (1500 <= postal_code <= 3999) or (8000 <= postal_code <= 9999):
        return 'Flanders'
    else:
        return 'Unknown'

# Add a new 'Region' column based on zip code
df_cleaned['Region'] = df_cleaned['Locality data'].apply(get_region)

# Saving a new file with added columns
output_file_path = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\cleaned_data_with_region_and_price_per_m2.csv'
df_cleaned.to_csv(output_file_path, index=False)

print(f'File successfully saved as {output_file_path}')

File successfully saved as C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\cleaned_data_with_region_and_price_per_m2.csv


After added the regions column, we can try to filter and analyze the data for each region separately using the code from the previous analysis:

In [16]:

# We filter the data for Wallonia
df_wallonia = df_cleaned[df_cleaned['Region'] == 'Wallonia']

# Filter data for Flanders
df_flanders = df_cleaned[df_cleaned['Region'] == 'Flanders']

# We filter the data for Brussels
df_brussels = df_cleaned[df_cleaned['Region'] == 'Brussels']

In [20]:
# Save data for Wallonia
df_wallonia.to_csv(r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\wallonia_property_listings.csv', index=False)

# Save data for Flanders
df_flanders.to_csv(r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\flanders_property_listings.csv', index=False)

# Save data for Brussels
df_brussels.to_csv(r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Raw\brussels_property_listings.csv', index=False)

print("Data for regions saved in separate CSV files")

# Looking at the first 5 lines for Wallonia
rows, columns = df_wallonia.shape
print(f'In the file {rows} rows and {columns} columns.')
print("Data for Wallonia:")
print(df_wallonia.head())


# We look at the first 5 lines for Flanders
rows, columns = df_flanders.shape
print(f'In the file {rows} rows and {columns} columns.')
print("Data for Flanders:")
print(df_flanders.head())

# We look at the first 5 lines for Brussels
rows, columns = df_brussels.shape
print(f'In the file {rows} rows and {columns} columns.')
print("Data for Brussels:")
print(df_brussels.head())

Data for regions saved in separate CSV files
In the file 1938 rows and 16 columns.
Data for Wallonia:
    Unnamed: 0  Property ID  Locality data   Price Property type  \
2            2     20245215           4102  199900         house
7            7     20241273           6220  315000         house
9            9     20244297           4140  298000         house
11          11     20246094           4460  132000         house
15          15     20244298           4280  289000         house

    Number of bedrooms  Living area m²  Equipped kitchen  Furnished  \
2                  3.0           131.0                 1          0
7                  2.0           100.0                 0          0
9                  4.0           242.0                 1          0
11                 2.0            76.0                 0          0
15                 2.0           130.0                 1          0

    Open fire  Terrace surface m²  Garden area m²  Swimming pool  \
2           1                40.0            30.0              0
7           1                14.0          1030.0              0
9           1                80.0           147.0              0
11          1                20.0           105.0              0
15          1                20.0           400.0              0

   Building condition  Price per m²    Region
2              As new   1525.954198  Wallonia
7       To be done up   3150.000000  Wallonia
9                Good   1231.404959  Wallonia
11        To renovate   1736.842105  Wallonia
15               Good   2223.076923  Wallonia
In the file 5339 rows and 16 columns.
Data for Flanders:
   Unnamed: 0  Property ID  Locality data   Price Property type  \
0           0     20245694           9550  198800         house
1           1     20246399           2170  349000         house
3           3     20245396           9620  349000         house
5           5     20244275           8500  455000         house
6           6     20244687           9860  455000         house

   Number of bedrooms  Living area m²  Equipped kitchen  Furnished  Open fire  \
0                 3.0           125.0                 0          0          1
1                 3.0           193.0                 1          0          1
3                 4.0           237.0                 0          0          1
5                 4.0           187.0                 1          0          1
6                 3.0           147.0                 0          0          1

   Terrace surface m²  Garden area m²  Swimming pool Building condition  \
0                45.0           106.0              0        To renovate
1                 NaN            53.0              0      To be done up
3                16.0           390.0              0        To renovate
5                 NaN           100.0              0               Good
6                16.0            77.0              0     Just renovated

   Price per m²    Region
0   1590.400000  Flanders
1   1808.290155  Flanders
3   1472.573840  Flanders
5   2433.155080  Flanders
6   3095.238095  Flanders
In the file 1756 rows and 16 columns.
Data for Brussels:
    Unnamed: 0  Property ID  Locality data   Price Property type  \
4            4     20245133           1200  795000         house
8            8     20242318           1120  477000         house
10          10     20242604           1150  650000         house
53          55     20233552           1000  895000         house
58          60     20245842           1030  398000         house

    Number of bedrooms  Living area m²  Equipped kitchen  Furnished  \
4                  5.0           225.0                 1          0
8                  5.0           186.0                 0          0
10                 3.0           142.0                 0          0
53                 5.0           350.0                 0          0
58                 4.0           209.0                 0          0

    Open fire  Terrace surface m²  Garden area m²  Swimming pool  \
4           1                15.0           120.0              0
8           1                30.0           120.0              0
10          1                12.0           100.0              0
53          1                 NaN           300.0              0
58          1                 NaN             NaN              0

   Building condition  Price per m²    Region
4         To renovate   3533.333333  Brussels
8              As new   2564.516129  Brussels
10               Good   4577.464789  Brussels
53      To be done up   2557.142857  Brussels
58        To renovate   1904.306220  Brussels

In [23]:
# A function to determine the province by postal code
def get_province(postal_code):
    # Flanders
    if 1500 <= postal_code <= 1999 or 3000 <=postal_code <=3499:
        return 'Flemish Brabant'
    elif 2000 <= postal_code <= 2999:
        return 'Antwerp'
    elif 3500 <= postal_code <= 3999:
        return 'Limburg'
    elif 8000 <= postal_code <= 8999:
        return 'West Flanders'
    elif 9000 <= postal_code <= 9999:
        return 'East Flanders'
    
    # Wallonia
    elif 1300 <= postal_code <= 1499:
        return 'Walloon Brabant'
    elif 4000 <= postal_code <= 4999:
        return 'Liège'
    elif 5000 <= postal_code <= 5999:
        return 'Namur'
    elif 6000 <= postal_code <= 6599 or 7000 <= postal_code <= 7999:
        return 'Hainaut'
    elif 6600 <= postal_code <= 6999:
        return 'Luxembourg'
    
    # Brussels
    elif 1000 <= postal_code <= 1299:
        return 'Brussels'
    
    else:
        return 'Unknown'

# Adding a new column 'Province' based on the postal code
df_cleaned['Province'] = df_cleaned['Locality data'].apply(get_province)

# Save updated file with column 'Province'
output_file_path = r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\cleaned_data_with_province.csv'
df_cleaned.to_csv(output_file_path, index=False)

print(f'Файл успішно збережено за адресою: {output_file_path}')
# Check the result
df_cleaned[['Locality data', 'Region', 'Province']].head()

   Locality data    Region       Province
0           9550  Flanders  East Flanders
1           2170  Flanders        Antwerp
2           4102  Wallonia          Liège
3           9620  Flanders  East Flanders
4           1200  Brussels       Brussels

In [ ]:
import pandas as pd

# Loading cleared data
df_cleaned = pd.read_csv(r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\sanitized_property_listings_Kelli_final.csv')

# Add the 'Province' column
df_cleaned['Province'] = df_cleaned['Locality data'] / df_cleaned['']

In [ ]:
import pandas as pd
df_cleaned = pd.read_csv(r'C:\Users\Anastasiia\Documents\GitHub\immoeliza_data_analysis\Data\Cleaned\cleaned_data_with_region_and_price_per_m2.csv')

# Dictionary devided regions to provinces
region_to_provinces = {
    'Wallonia' : ['Walloon Brabant', 
                  'Liège', 
                  'Namur', 
                  'Hainaut', 
                  'Luxembourg'],

    'Flanders' : ['Flemish Brabant', 
                  'Antwerp', 
                  'Limburg', 
                  'West Flanders', 
                  'East Flanders'],
                  
    'Brussels' : ['Brussels']
}